:root {
    --background: #3b414a;
    --alternative: #272b2f;
    --primary: #0cbcbe;
    --font-primary: #d8d8d8;
    --font-secondary: #ffffff;
    --profile: #323c4c;
    --bgInput: #374151;
    --bgError: #c33131
  }